.window {
  height: 100%;
  overflow: hidden;
  color: var(--default-front);
  cursor: default;
}
.game {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  user-select: none;
  text-align: center;
  color: var(--default-front);
  z-index: 3;
}
.header .menu-bar {
  display: flex;
}
.menu-bar .menu-list {
  position: absolute;
}
.menu-bar > .menu:first-child > .menu-button {
  border-top-left-radius: 0.5em;
}
.menu-bar .menu-button {
  background: var(--default-back);
}
.menu-bar .menu-button:hover {
  color: var(--hover-front);
  background: var(--hover-back);
}
.menu-item {
  display: flex;
}
.has-button::after {
  content: "▶";
}
.menu-bar > .menu-item {
  display: block;
}
.menu-bar > .menu-item > .menu-button {
  background-color: var(--default-back);
}
.menu-button {
  padding: 0em 0.5em;
  width: -webkit-fill-available;
  text-align: left;
}
.has-menu > .menu-button::after {
  content: "▶";
}
.menu-bar > .menu-item:first-child > .menu-button::after {
  content: "";
}
.menu-bar > .menu-item > .menu-button:hover,
.menu-button:hover {
  color: var(--hover-front);
  background-color: var(--hover-back);
}
.menu-button:active {
  color: var(--active-front);
  background-color: var(--active-back);
}
.menu-bar > .menu-item:first-child > .menu-button {
  border-top-left-radius: 0.5rem;
}
.menu-list {
  position: absolute;
  box-shadow: 1px 1px 1px var(--static-back);
  width: fit-content;
  backdrop-filter: blur(0.2em);
  background-color: #8884;
}
.header .title {
  flex-grow: 1;
  background: var(--default-back);
  -webkit-app-region: drag;
  cursor: grab;
}
.title:active {
  cursor: grabbing;
}
.operator-bar span {
  padding: 0em 0.5em;
  background: var(--default-back);
}
.operator-bar span:last-child {
  border-top-right-radius: 0.5em;
}
.operator-bar span:hover {
  background: var(--hover-back);
}
.operator-bar span:active {
  background: var(--active-back);
}
.operator-bar .min:hover,
.operator-bar .min:active {
  color: lime;
}
.operator-bar .max:hover,
.operator-bar .max:active {
  color: yellow;
}
.operator-bar .close:hover,
.operator-bar .close:active {
  color: red;
}
.toast-bar {
  z-index: 2;
}
.toast-anchor,
.toast-list {
  position: absolute;
  right: 0px;
}
.toast-list {
  width: max-content;
}
.toast-item {
  padding: 0.5em 1em;
  margin-top: 0.5em;
  box-shadow: 0em 1px 1px var(--static-back);
  backdrop-filter: blur(0.2em);
  background-color: #8882;
}
.container {
  flex-grow: 1;
  overflow-y: auto;
  background: var(--default-back);
  z-index: 1;
}
.container::-webkit-scrollbar {
  width: 6px;
}
.container::-webkit-scrollbar-thumb {
  background: #292b2e;
  border-radius: 3px;
}
.footer {
  background: var(--default-back);
}
