.page {
  position: relative;
  margin: 0.5rem;
}
.page > .disable-mask.disabled {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(0.9px);
  z-index: 1;
}
/* .disabled {
  color: transparent !important;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5) !important;
} */
h1 {
  display: inline;
  font-size: 2em;
}
h2 {
  display: inline;
  font-size: 1.5em;
}
.button {
  cursor: pointer;
  background-color: #434649;
}
.button:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}
.link {
  cursor: pointer;
  text-decoration: dotted;
}
.link:hover {
  text-decoration: underline;
}
table {
  width: 100%;
  table-layout: fixed;
}
td {
  text-align: center;
}
span.text.shake {
  display: inline-block;
}
.progress {
  position: relative;
  display: inline-block;
  background-color: gray;
  vertical-align: middle;
  height: 1rem;
  margin: 0rem 0.2rem;
  border-radius: 0.2rem;
}
.progress::before,
.bar::before {
}
.progress > .bar {
  position: absolute;
  background-color: lime;
  height: 100%;
  border-radius: 0.2rem;
  left: 0px;
}
.check {
  margin: 0rem 0.2rem;
}
.radio {
  margin: 0rem 0.2rem;
}
.input {
  height: 1rem;
  width: 100px;
  background-color: var(--react-dark);
  border: none;
  color: var(--react-light);
  margin: 0rem 0.2rem;
}
input:focus{
  outline: none;
}
