@font-face {
  font-family: "Microsoft YaHei";
  src: unset;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header,
.menu-bar,
.operator-bar {
  display: flex;
}
.menu {
  display: flex;
}
.menu-bar > .menu {
  display: block;
}
.menu-button,
.title,
.operator-bar > div,
main,
footer {
  color: var(--default-front);
  background-color: var(--default-back);
}
.menu-button,
.title,
.operator-bar > div,
footer {
  padding: 0 0.2rem;
}
.menu-list {
  position: absolute;
  width: fit-content;
}
header > .title {
  flex-grow: 1;
  text-align: center;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.loading-banner {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.loading-group {
  align-self: center;
  text-align: center;
}
.pause-banner {
  align-self: center;
  width: 100%;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pause-banner > div {
  width: 100%;
}
