@font-face {
  font-family: "Microsoft YaHei";
  src: unset;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header,
.menu-bar,
.operator-bar {
  display: flex;
}
.menu {
  display: flex;
}
.menu-bar > .menu {
  display: block;
}
.menu-list {
  position: absolute;
  width: fit-content;
}
header > .title {
  flex-grow: 1;
  text-align: center;
}
main {
  flex-grow: 1;
}
.loading {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.loading > div {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
