/* header */
header {
  user-select: none;
  z-index: 10;
}
header,
.menu-bar,
.operator-bar {
  display: flex;
}
.menu-button,
.operator {
  cursor: pointer;
}
.menu-button:hover,
.operator:hover {
  background-color: var(--hover-back);
}
.menu-button:hover {
  color: var(--hover-front);
}
.operator.min:hover {
  color: #0f0;
}
.operator.max:hover {
  color: #ff0;
}
.operator.close:hover {
  color: #f00;
}
.title {
  cursor: grab;
}
.menu {
  display: flex;
}
.menu-bar > .menu {
  display: block;
}
.menu-button,
.title,
.operator {
  color: var(--default-front);
  background-color: var(--default-back);
  padding: 0 0.2rem;
}
.menu-list {
  position: absolute;
  width: fit-content;
  min-width: 50px;
}
header > .title {
  flex-grow: 1;
  text-align: center;
  -webkit-app-region: drag;
}
/* intro */
.intro {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.intro > main {
  flex-grow: 1;
  display: flex;
}
.loading-banner {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.loading-group {
  align-self: center;
  text-align: center;
}
/* pause */
.pause-banner {
  align-self: center;
  width: 100%;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pause-banner > div {
  width: 100%;
}
/* main */
main {
  color: var(--default-front);
  background-color: var(--default-back);
}
.main {
  display: flex;
  flex-direction: column;
}
.main > main {
  flex-grow: 1;
}
/* footer */
footer {
  padding: 0 0.2rem;
  color: var(--default-front);
  background-color: var(--default-back);
}
