.window {
  display: flex;
  flex-direction: column;
  color: var(--light);
  cursor: default;
}

.header {
  display: flex;
  user-select: none;
}
.menu-bar > span:first-child {
  border-top-left-radius: 0.5rem;
}
.window-operator-bar > span:last-child {
  border-top-right-radius: 0.5rem;
}
.header {
  text-align: center;
  color: var(--react-light);
}
.menu-bar > span {
  padding: 0em 0.5em;
  text-align: center;
  background-color: var(--react-dark);
}
.window-operator-bar > span {
  padding: 0em 0.5em;
  text-align: center;
  background-color: var(--react-dark);
}
.menu:hover,
.menu-add:hover {
  background-color: var(--hover-dark);
}
.title {
  flex-grow: 1;
  background-color: var(--react-dark);
}
.min:hover {
  color: lime;
  background-color: var(--hover-dark);
}
.max:hover {
  color: yellow;
  background-color: var(--hover-dark);
}
.close:hover {
  color: red;
  background-color: var(--hover-dark);
}

.container {
  flex-grow: 1;
  background-color: var(--dark);
}
.footer {
  background-color: var(--dark);
}
