.window {
  display: flex;
  flex-direction: column;
  color: var(--default-front);
  cursor: default;
}
.header {
  display: flex;
  user-select: none;
  text-align: center;
  color: var(--default-front);
}
/* .menu-bar > span:first-child {
  border-top-left-radius: 0.5rem;
} */
.window-operator-bar > span:last-child {
  border-top-right-radius: 0.5rem;
}
.menu-bar > span {
  /* padding: 0em 0.5em; */
  /* text-align: center; */
  /* background-color: var(--default-back); */
}
.menu {
  position: relative;
}
.menu-button {
  border-top-left-radius: 0.5rem;
  padding: 0em 0.5em;
  background-color: var(--default-back);
}
.menu-add-button {
  padding: 0em 0.5em;
  background-color: var(--default-back);
}
.menu-list {
  position: absolute;
  /* border: 1px solid var(--default-front); */
  box-shadow: 0px 1px 2px var(--static-back);
}
.menu-item {
  color: var(--default-front);
  text-align: left;
  /* margin: 0em 0.5em; */
  width: 50px;
}
.menu-item:hover {
  color: var(--hover-front);
  background-color: var(--hover-back);
}
.window-operator-bar > span {
  padding: 0em 0.5em;
  text-align: center;
  background-color: var(--default-back);
}
.menu-button:hover,
.menu-add-button:hover {
  color: var(--hover-front);
  background-color: var(--hover-back);
}
.menu-button:active,
.menu-add-button:active {
  color: var(--active-front);
  background-color: var(--active-back);
}
.title {
  flex-grow: 1;
  background-color: var(--default-back);
  -webkit-app-region: drag;
  cursor: grab;
}
.title:active {
  cursor: grabbing;
}
.min:hover {
  color: lime;
  background-color: var(--hover-back);
}
.max:hover {
  color: yellow;
  background-color: var(--hover-back);
}
.close:hover {
  color: red;
  background-color: var(--hover-back);
}
.min:active {
  color: lime;
  background-color: var(--active-back);
}
.max:active {
  color: yellow;
  background-color: var(--active-back);
}
.close:active {
  color: red;
  background-color: var(--active-back);
}

.container {
  flex-grow: 1;
  background-color: var(--default-back);
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 6px;
}
.container::-webkit-scrollbar-thumb {
  background: var(--react-back);
  border-radius: 3px;
}
.footer {
  background-color: var(--default-back);
}
