@media (max-width: 800px) {
  .header span:first-child {
    border-top-left-radius: 0em !important;
  }
  .header span:last-child {
    border-top-right-radius: 0em !important;
  }
}
@media (max-height: 600px) {
  .header span:first-child {
    border-top-left-radius: 0em !important;
  }
  .header span:last-child {
    border-top-right-radius: 0em !important;
  }
}
.header {
  display: flex;
  user-select: none;
}
.header .title {
  flex-grow: 1;
  text-align: center;
}
.header span {
  color: var(--light-color);
  background: var(--dark-color);
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}
.header .menu:hover {
  color: var(--dark-color);
  background: var(--light-color);
}
.header .title:hover {
  cursor: grab;
}
.header .min:hover {
  color: lime;
  background: var(--light-color);
}
.header .max:hover {
  color: yellow;
  background: var(--light-color);
}
.header .close:hover {
  color: red;
  background: var(--light-color);
}
.header span:first-child {
  border-top-left-radius: 0.5em;
}
.header span:last-child {
  border-top-right-radius: 0.5em;
}
.container {
  flex-grow: 1;
  overflow-y: auto;
  color: var(--light-color);
  background: var(--dark-color);
}
.container::-webkit-scrollbar {
  width: 6px;
}
.container::-webkit-scrollbar-thumb {
  background: #292b2e;
  border-radius: 3px;
}
.footer {
  color: var(--light-color);
  background: var(--dark-color);
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: default;
  user-select: none;
}
